@font-face {
  font-family: Calculator;
  src: url(./assets/fonts/Calculator.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: Calculator, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

:root {
  --num-size: 1.8rem;
  font-size: 16px;
}

body {
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 1rem solid darkgray;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 100%;
  border-bottom: 1rem solid darkgray;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  column-gap: .5rem;
  justify-items: center;
  align-items: center;
  font-size: 2.25rem;
  color: red;
}

.menu__btn {
  background-color: lightgray;
  border: .3rem outset darkgray;
  cursor: pointer;
}

.menu__btn:active {
  border-style: inset;
}


.field {
  position: relative;
}

.message-box {
  width: 100%;
  height: 100%;
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.win {
  color: green;
}

.lose {
  color: red;
}

.hidden {
  display: none;
}

.message-box__text {
  position: absolute;
  width: max-content;
  top: -7rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line-cells {
  display: flex;
}

.cell {
  width: 3rem;
  height: 3rem;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .3rem outset gray;
  cursor: pointer;
  font-size: 2rem;
}

.cell.open {
  border: .06rem solid darkgray;
  cursor: initial;
}

.cell:not(.open):not(.disabled):active {
  border-style: inset;
}

.cell.disabled {
  cursor: initial;
}

.value-1 {
  color: blue;
  font-size: var(--num-size);
}

.value-2 {
  color: green;
  font-size: var(--num-size);
}

.value-3 {
  color: red;
  font-size: var(--num-size);
}

.value-4 {
  color: darkblue;
  font-size: var(--num-size);
}

.value-5 {
  color: brown;
  font-size: var(--num-size);
}

.value-6 {
  color: cadetblue;
  font-size: var(--num-size);
}

.value-7 {
  color: black;
  font-size: var(--num-size);
}

.value-8 {
  color: white;
  font-size: var(--num-size);
}